#map1 {
	width: 1000px;
	height: 600px;
}



/* css to customize Leaflet default styles  */
.popupCustom. leaflet-popup-tip,
.popupCustom. leaflet-popup-content-wrapper {
    background: #000000;
    color: #234c5e;
}
